{% extends 'base.html' %} {% block title %} Yangilik {% endblock %} {% block content %}

<h1>{{book.name}}</h1>
<div class='row'>
    {% if book.booksinformation_set.all %}
    <div class='col-lg-6 float-right'>
        <a class='btn btn-primary' type='button' href="{% url 'information_edit' book.pk  %}">Update Information</a>
    </div>
    {% else %}
    <div class='col-lg-6 float-right'>
        <a class='btn btn-primary' type='button' href="{% url 'information_create' book.pk  %}">Add Information</a>
    </div>
    {% endif%}
    <div class='col-lg-6 float-right'>
        <a class='btn btn-danger' type='button' href="{% url 'books_delete' book.id  %}">Delete Information</a>
    </div>
</div>

{% endblock %}